@import "tailwindcss";

@theme {
  --color-accent: #f2e200;
  --color-primary: #4c0dd4;
  --color-secondary: #8d0dd4;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.step_two {
  animation: step_two 0.5s ease-in-out;
}

@keyframes step_two {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn_cart_modal {
  anchor-name: --btn_cart;
}

.cart_modal {
  scale: 0;
  opacity: 0;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out,
    display 0.2s ease-in-out allow-discrete;

  &:popover-open {
    scale: 1;
    opacity: 1;

    @starting-style {
      scale: 0;
      opacity: 0;
    }
  }
}

.cart_modal {
  margin-top: 8px;
  position: absolute;
  top: anchor(bottom);
  right: anchor(center);
  position-anchor: --btn_cart;
  position-area: bottom left;
}
.overflow-y-auto {
  padding-right: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}
